[main]
app_title = Scribe v1.0
database = /home/marc/Documents/marcnotes_db
recent_notes_count = 8
default_notebook = General
screen_scale = 2
backup_location = /home/marc/Documents/backups/
notes_per_page = 30

[main_window]
default_view = pinned
width = 2044
height = 1322
note_width = 50
notebook_width = 30

[colours]
widget_bg = #303234
widget_text = #e7edef
note_text = #484445
default_note_bg = #e7edef
default_notebook_bg = #e7edef
widget_highlight = #5f6260
search_bg = #6d7c7a

[main window key bindings]
search = <Control-f>
new note = <Control-n>
show notebook view = <Control-Alt-n>
show pinned notes view = <Control-Alt-p>
show recent notes view = <Control-Alt-r>

[note page key bindings]
search = <Control-f>

