[main]
database = /home/marc/Documents/marcnotes_db
recent notes count = 8
default notebook = General
screen scale = 1
backup location = /home/marc/Documents/backups/
notes per page = 30

[main window]
default view = pinned
width = 1304
height = 629
note width = 50
notebook width = 30

[note window]
text font name = Sans
text font size = 10
text font type = normal
title font name = Sans
title font size = 14
title font type = normal

[colours]
widget bg = #303234
widget text = #e7edef
note_text = #484445
default note bg = #e7edef
default notebook bg = #e7edef
widget highlight = #5f6260
search bg = #6d7c7a

[main window key bindings]
search = <Control-f>
new note = <Control-n>
show notebook view = <Control-Alt-b>
show pinned notes view = <Control-Alt-p>
show recent notes view = <Control-Alt-r>

[note page key bindings]
search = <Control-f>
insert mode = <i>
visual mode = <Escape>

