[main]
app_title = Scribe v1.0
database = /home/marc/Documents/marcnotes_db
recent_notes_count = 8
default_notebook = General
screen_scale = 2
backup_location = /home/marc/Documents/backups/

[main_window]
default_view = pinned
width = 1920
height = 1114
note_width = 50
notebook_width = 30

[note_window]

[colours]
widget_bg = #303234
widget_text = #e7edef
note_text = #484445
default_note_bg = #e7edef
default_notebook_bg = #e7edef
widget_highlight = #5f6260
search_bg = #464646

